html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden
}

body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

.sidebar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
	background-color: #aab7cf;
}

.sidebar {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 200px;
	height: 100%;
	padding: 0 20px;
	background: linear-gradient(181.09deg, #336638 7.49%, #36763C 87.42%);
	box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.25);
}

main {
	position: absolute;
	left: 240px;
	top: 64px;
	height: 94%;
	overflow: hidden;
}

#content {
	height: 100%;
}

.page-content {
	display: flex;
	width: 100%;
	padding: 20px;
}

#calculation-box {
	width: 150px;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
	text-align: center;
	display: none;
}

/* Main */
.dropdown {
	display: flex;
	justify-content: center;
}

.sidebar-content {
	width: 360px;
	padding-right: 20px;
}

.sidebar-content .btns button {
	width: 130px;
	height: 58px;
	border-radius: 5px 0px 0px 0px;
}

.btns {
	display: flex;
}

#farms {
	display: block;
	width: 177px;
	background: #78B044;
	color: #FFFFFF;
	border-radius: 0px 5px 0px 0px;
	padding: 21.6px 67.09px 24.4px 66.91px;
	text-align: center;
	font-size: 14px;
	line-height: 13px;
	font-weight: 500;
}

#greenhouses {
	display: block;
	width: 177px;
	background: #EEF5EC;
	color: #ACB4AB;
	border-radius: 0px 5px 0px 0px;
	text-align: center;
	padding: 21.6px 67.09px 24.4px 66.91px;
	text-align: center;
	font-size: 14px;
	line-height: 13px;
	font-weight: 500;
}

#farm {
	display: flex;
	background: #FFFFFF;
	width: 100%;
	border: 0.5px solid #BFE3C3;
	box-shadow: 1px 1px 8px rgba(120, 176, 68, 0.25);
	border-radius: 5px;
	margin: 0 10px 4px 0;
}

#greenhouse {
	display: flex;
	background: #FFFFFF;
	width: 100%;
	border: 0.5px solid #BFE3C3;
	box-shadow: 1px 1px 8px rgba(120, 176, 68, 0.25);
	border-radius: 5px;
	margin: 0 10px 4px 0;
}

#idFarm,
#idGreenhouse {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#farm::before {
	display: inline-block;
	content: "";
	width: 20px;
	height: 100%;
	background: #79FF76;
	margin-right: 8px;
	border-radius: 5px 0px 0px 5px;
}

#container {
	width: 100%;
}

#container a {
	color: #78B044;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

#container #updateBtn {
	position: relative;
	left: 190px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #E7AB11;
}

#container form {
	display: inline;
	position: relative;
	left: 200px;
	;
}

#container p {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #808080;
}

#container .perimeter {
	margin-right: 8px;
}

#greenhouse::before {
	display: inline-block;
	content: "";
	width: 20px;
	height: 100px;
	background: #FE813B;
	margin-right: 8px;
	border-radius: 5px 0px 0px 5px;
}

#updateBtn {
	background: none;
}

#updateBtn a i {
	color: #E7AB11;
}

#deleteBtn {

	background: none;
	border: none;
}

#deleteBtn a i {
	color: #E74011;
}

#map {
	width: 1600px;
	height: 900px;
}

.mapboxgl-canvas-container {
	width: 100vh;
}

.coordinates {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	position: absolute;
	bottom: 40px;
	left: 600px;
	padding: 5px 10px;
	margin: 0;
	font-size: 11px;
	line-height: 18px;
	border-radius: 3px;
	display: none;
}

.mapboxgl-canvas-container {
	height: 600px;
}

/* Header */
#header {
	position: relative;
	top: 0;
	left: 200px;
	height: 64px;
	background: #66A66D;
}

.logo {
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo span {
	font-family: 'Redacted Script';
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	padding: 20px 47px;
	color: #66A66D;
}

.sidebar .main::before {
	display: inline-block;
	content: "";
	border: 1px solid #BFE3C3;
	width: 200px;
	transform: translateY(-1rem);
}

/* Main */
#search {
	width: 340px;
	height: 36px;
	padding-left: 16.66px;
	margin: 10px;
}

.sidebar-nav .nav-item {
	margin-bottom: 5px;
}

.sidebar-nav .nav-link {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 4px;
	color: #FFFFFF;
}

.sidebar-nav .nav-item i {
	font-size: 18px;
	margin-right: 10px;
	color: #FFFFFF;
}

.sidebar-nav .nav-item .nav-link:focus {
	color: #78B044;
	background-color: #E7FFE8;
}

.sidebar-nav .nav-item .nav-link:focus i {
	color: #78B044;
}

.settings {
	position: absolute;
	bottom: 96px;
}

.sidebar-footer {
	position: absolute;
	bottom: 0;
	height: 96px;
}

.sidebar-footer:before {
	display: inline-block;
	content: "";
	border: 1px solid #BFE3C3;
	width: 200px;
	transform: translateY(-1rem);
}

.sidebar-footer img {
	max-height: 50px;
}

.company {
	position: absolute;
	margin-top: 20%;
}

/* main content */
.pagetitle {
	margin-bottom: 10px;
}

.pagetitle h1 {
	font-size: 24px;
	font-weight: 600;
	margin: 0;
}

/* Create Farm & Greenhouse*/
.main-title {
	display: block;
	width: 201px;
	height: 13px;
	background: #78B044;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 16px;
	line-height: 13px;
	padding: 23px 79px;
	margin-bottom: 15px;
	border-radius: 5px 0px 0px 0px;
}

.sidebar-content form {
	margin-top: 32px;
	margin-left: 16px;
	margin-right: 16px;
}

.sidebar-content form input {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 13px;
	width: 310px;
	height: 36px;
	margin-bottom: 32px;
	padding-left: 10px;
	padding-top: 11px;
	padding-bottom: 11px;
	color: #333333;
	border-radius: 5px;
	background: #EEF5EC;
}

.sidebar-content form label {
	color: #78B044;
	margin-bottom: 8px;
}

.sidebar-content p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 13px;
	color: #97CD9D;
	margin-left: 15px;
	margin-right: 15px;
}

#createBtn {
	position: absolute;
	width: 124.19px;
	height: 13px;
	bottom: 28px;
	left: 90px;
	background: #78B044;
	color: #FFFFFF;
	border-radius: 5px;
	padding: 14.87px 17.9px 16.13px 16.91px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 13px;
}

#createBtn a {
	color: #FFFFFF;
}

.line::before {
	position: absolute;
	bottom: 80px;
	display: inline-block;
	content: "";
	border: 1px solid #BFE3C3;
	width: 360px;
	transform: translateY(-1rem);
}

.sidebar-content form label .main-title {
	display: block;
	width: 201px;
	height: 13x;
	background: #78B044;
	color: #FFFFFF;
	border-radius: 5px 0px 0px 0px;
	padding: 23px 79px;
}

#cancelBtn {
	display: inline;
	background: none;
	color: #808080;
	margin-left: 15px;
}

#cancelBtn a span {
	color: #808080;
}

#cancelBtn a i {
	width: 16px;
	height: 14px;
}

#cancelBtn::after {
	display: block;
	content: "";
	width: 360px;
	border: 1px solid #BFE3C3;
	margin-top: 15.92px;
	margin-bottom: 24px;
}