body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
}

.sidebar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
	background-color: #aab7cf;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;	
	padding: 20px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color:  #aab7cf transparent;
}

main {
	margin-left: 200px;
	margin-top: 60px;
	padding: 20px 30px;
}

#content {
	height: 100%;
}

.page-content {
	display: flex;
	width: 100%;
}

#calculation-box {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
    display: none;
}

.sidebar-content {
	width: 300px;
	padding-left: 10px;
	padding-right: 10px;
}

.show {display: block;}

#map {
  width: 100%;
  height: 500px;
}

.coordinates {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	position: absolute;
	bottom: 40px;
	left: 10px;
	padding: 5px 10px;
	margin: 0;
	font-size: 11px;
	line-height: 18px;
	border-radius: 3px;
	display: none;
}

.mapboxgl-canvas-container {
	height: 600px;
}

.header-logo {
	height: 60px;
}

.header-logo .logo {
	display: flex;
	align-items: center;
}

.header-logo .logo img {
	margin-right: 6px;
}

.header-logo span {
	font-size: 26px;
	font-weight: 700;
	color: #596f52;
}

.sidebar-nav {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav .nav-item {
	margin-bottom:  5px;
}

.sidebar-nav .nav-link {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 4px;
}

.sidebar-nav .nav-item i {
	font-size: 18px;
	margin-right: 10px;
	color: #596f52;
}

.footer-logo img {
	max-height: 50px;
	padding-right: 10px;
}

.company {
	position: absolute;
	margin-top: 20%;
}

/* main content */
.pagetitle {
	margin-bottom: 10px;
}

.pagetitle h1 {
	font-size: 24px;
	font-weight: 600;
	margin: 0;
}